/* Tat ca do an */

.inline-edit-date,
.inline-edit-author,
.inline-edit-group {
    display: none !important;
}

.bulk-datetime {
    font-size: smaller;
}

/* Lop va GVHD */

.list-group {
    max-height: 420px;
}

.list-group-numbered {
    padding-left: 0;
    margin-left: 0;
}

.list-group-item {
    margin-bottom: 0;
}

/* Danh sach dang ky */

.card {
    max-width: none;
}

.order-list {
    list-style-type: decimal;
    counter-reset: section;
}

.order-list>li {
    position: relative;
    left: 10px;
    text-align: left;
}

/* Nhap danh sach */

.unorder-list {
    list-style: initial;
}

.unorder-list>li {
    list-style: initial;
    margin-left: -10px;
    margin-bottom: 0px;
}

.unorder-list>li>p {
    margin-bottom: 0px;
}