/* Tat ca do an */

.inline-edit-date,
.inline-edit-author,
.inline-edit-group {
    display: none !important;
}

.bulk-datetime {
    font-size: smaller;
}

/* Lop va GVHD */

.list-group {
    max-height: 420px;
}

.list-group-numbered {
    padding-left: 0;
    margin-left: 0;
}

.list-group-item {
    margin-bottom: 0;
}

/* Danh sach dang ky */

.card {
    max-width: none;
}

.order-list {
    list-style-type: decimal;
    counter-reset: section;
}

.order-list>li {
    position: relative;
    left: 10px;
    text-align: left;
}

.table td.f-4,
.table th.f-4 {
    max-width: 400px;
    min-width: 400px;
    white-space: break-spaces;
}

.table td.f-3,
.table th.f-3 {
    max-width: 300px;
    min-width: 300px;
    white-space: break-spaces;
}

.table td.f-2,
.table th.f-2 {
    max-width: 200px;
    min-width: 200px;
    white-space: break-spaces;
}

.table td.f-1,
.table th.f-1 {
    max-width: 100px;
    min-width: 100px;
    white-space: break-spaces;
}

.dont-break-out {

    /* These are technically the same, but use both */
    overflow-wrap: break-word;
    word-wrap: break-word;

    -ms-word-break: break-all;
    /* This is the dangerous one in WebKit, as it breaks things wherever */
    word-break: break-all;
    /* Instead use this non-standard one: */
    word-break: break-word;

    /* Adds a hyphen where the word breaks, if supported (No Blink) */
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;

}

/* Nhap danh sach */

.unorder-list {
    list-style: initial;
}

.unorder-list>li {
    list-style: initial;
    margin-left: -10px;
    margin-bottom: 0px;
}

.unorder-list>li>p {
    margin-bottom: 0px;
}

.input-file {
    position: relative;
    width: 100%;
    height: 200px;
    border: 2px dashed #000;
    border-radius: 10px;
}

.input-file>div {
    width: 100%;
    height: 50%;
    margin-top: 50px;
    text-align: center;
}

.input-file>div>p {
    font-size: 1.5rem;
}

.input-file input {
    position: absolute;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    outline: none;
    opacity: 0;
}